#calenderTable{
    cursor: pointer;
}
.currentDate {
    background-color: #4682B4;
    color: black;
}
.date {
    background-color: silver;
    color: black;
}
.selectedDate {
    background-color: #FFE4E1;
    color: black;
}
